* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.logo {
    height: auto;
    width: 100%;
}

h1 {
    color: white;
    font-family:cursive;
    width: 100%;
    text-align: center;
}